<div class="centered-content">
     <div class="modal-box animate__animated animate__fadeInDown animate__faster">
          <div class="title">Create New Task</div><br>
          <div class="field">
               <div class="control">
                    <input class="input  has-background-light" type="text" placeholder="Type New Task" #taskInput>
               </div>
          </div>
          <div class="buttons is-right">
               <button class="button is-danger is-inverted is-rounded" [routerLink]="[ '../' ]">Cancel</button>
               <button class="button is-primary has-text-white is-rounded"
                    (click)="addNewTask(taskInput)">Save</button>
          </div>
     </div>
</div>