<div class="centered-content">
  <div class="modal-box">
    <form #formSignupData="ngForm" (ngSubmit)="signupData()">
      <div class="title column has-text-centered is-size-3">Signup</div>
      <div class="field column">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input has-background-light"
            type="text"
            placeholder="Username"
            [(ngModel)]="user.uname"
            name="uname"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field column">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input has-background-light"
            type="email"
            placeholder="Email"
            [(ngModel)]="user.uemail"
            name="uemail"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <!-- <span class="icon is-small is-right">
                   <i class="fas fa-check"></i>
                 </span> -->
        </p>
      </div>

      <div class="field column">
        <p class="control has-icons-left">
          <input
            class="input has-background-light"
            type="password"
            placeholder="Password"
            [(ngModel)]="user.upass"
            name="upass"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field column">
        <p class="control">
          <button class="button is-success has-text-white is-fullwidth">
            Signup
          </button>
        </p>
      </div>
      <div class="field column has-text-centered">
        <p>
          Already have registered? <a routerLink="/login">Click to login</a>
        </p>
      </div>
    </form>
  </div>
</div>
