<div class="centered-content">
  <div class="modal-box">
    <form #loginForm="ngForm" (ngSubmit)="loginData(loginForm)">
      <div class="title column has-text-centered is-size-3">Login</div>
      <div class="field column">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input has-background-light"
            #uname = "ngModel"
            [class.is-danger]="uname.invalid && uname.touched"
            type="text"
            placeholder="Username"
            name="uname"
            [(ngModel)]="user.uname"
            required
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <!-- <span class="icon is-small is-right">
                   <i class="fas fa-check"></i>
                 </span> -->
        </p>
      </div>
      <div class="field column">
        <p class="control has-icons-left">
          <input
            class="input has-background-light"
            #upass="ngModel"
            [class.is-danger]="upass.invalid && upass.touched"
            type="password"
            placeholder="Password"
            name="upass"
            [(ngModel)]="user.upass"
            required
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field column">
        <p class="control">
          <button class="button is-success has-text-white is-fullwidth" [disabled]="loginForm.invalid" >
            Login
          </button>
        </p>
      </div>
      <div class="field column has-text-centered">
        <p>Not registered? <a routerLink="/signup">Create an account</a></p>
      </div>

      <!-- <div class="buttons is-right">
               <button class="button is-danger is-inverted is-rounded" [routerLink]="[ '../' ]">Cancel</button>
               <button class="button is-primary has-text-white is-rounded">Save</button>
          </div> -->
    </form>
  </div>
</div>
