<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <div class="title">List</div>
      <div class="link">
        <a
          *ngFor="let list of lists"
          [routerLink]="['/lists', list._id]"
          routerLinkActive="active"
          >{{ list.title }}</a
        >
      </div>
      <div class="new-list">
        <button class="button is-primary" [routerLink]="['./create-list']">
          Add New List
        </button>
      </div>
    </div>
    <div class="task-list-container">
      <div class="task-menu">
        <div class="title">Task</div>
        <div class="dropdown is-hoverable is-right">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true">
              <span><i class="fas fa-cogs"></i></span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <button
                class="dropdown-item button disabled-link"
                [routerLink]="['./edit-list']"
                routerLinkActive="active"
                [disabled]="lists.length == 0"
              >
                Edit
              </button>
              
              <button
                class="dropdown-item button has-text-danger disabled-link"
                (click)="deleteSingleList()"
                [disabled]="lists.length == 0 && selected_listid"
              >
                Delete
              </button>
              <hr class="dropdown-divider" />
              <a class="dropdown-item" (click)="logout()">
                Logout
              </a>
              <hr class="dropdown-divider" />
              <div class="dropdown-item">
                <small>version: 1.0.0</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="task-container">
        <div
          class="task"
          *ngFor="let task of tasks"
          [ngClass]="{ completed: task.complete }"
        >
          <div class="task-text" (click)="taskCompleteOps(task)">
            {{ task.title }}
          </div>
          <div class="task-buttons">
            <div class="buttons has-addons custom-buttons">
              <button
                class="button is-small"
                [routerLink]="['./edit-task', task._id]"
              >
                <i class="fas fa-edit"></i>
              </button>
              <button
                class="button is-small is-danger"
                style="z-index: 500;"
                (click)="deleteSingleTask(task._id)"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- <div class="task">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div> -->
      </div>
      <div class="task-footer">
        <button
          class="button is-primary bottom-icon"
          routerLink="./new-task"
          [disabled]="lists.length == 0"
        >
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
