@import '../../../style-main.scss';
@import '../../switch.scss';
// @import "../../../dark-theme-variables.scss";

.task-manager-container{
     display: flex;
     flex-direction: row;
     // background-color: $white;
     max-width: 850px;
     width: 850px;
     height: 500px;
     max-height: 500px;
     border-radius: 10px !important;
     position: relative;
}
.sidebar{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 220px;
     height: 500px;
     // overflow-y: hidden;
     background-color: white;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
     padding-top: 20px;
     .link{
          margin: 20px 0px 0px 20px;
          padding-right: 20px;
          display:  flex;
          flex-direction: column;
          height: 100%;
          overflow-y: auto;
          width: 200px;
          a{
               display: block;
               margin-bottom: 10px;
               padding: 6px;
               height: auto;
               border-radius: 10px;
               color : $orange;
          }
     }
}

.new-list{
     display: flax;
     margin-top :15px ;
     margin-bottom: 30px;
}
.new-list .button {
     width: 180px;
     color: white;
}
.task-list-container{
     position: relative;
     display: flex;;
     flex-direction: column;
     background-color: transparent;
     width: 630px;
     height: 100%;
     padding-top: 20px;
     padding-left: 40px;
     padding-right: 40px;
}
.task-container{
     overflow-y: auto;
     height: 340px;
     padding: 5px 20px 5px 5px;
     width: 570px;
     .unseleceted-text{
          // background-color: hotpink;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          p{
               font-size: large;
          }
     }
}
.task{
     display: flex;
     align-items: center;
     padding: 10px;
     margin-bottom: 8px;
     height: auto;
     box-shadow: 0 0 2px 1px var(--task-bg-a20);
     color: #6e6e6e;
     border-radius: 5px;
     .custom-buttons{
          opacity: 0;
          transition: opacity 0.4s ease , transform 0.4s ease;
          transform: scale(0.50);
     }
     &:not(.completed){
          cursor: pointer;
          transition : box-shadow 0.2s ease, transform 0.2s ease;
          &:hover{
               // box-shadow: 0px 0px 4px 2px var(--task-bg-shadow);
               .custom-buttons { 
                    opacity: 1;
                    transform: scale(1);
               }
          }
          &:active{
               transform: scale(0.97);
          }
     }
     &.completed {
          text-decoration: line-through;
          opacity: 0.6;
          .custom-buttons{
               display: none;
          }
     }
     .task-text{
          flex-grow: 1;
     }
}
.active {
     background-color: $orange-light;
     color: rgb(55, 139, 125);
}
.task-footer{
     display: flex;
     flex-direction: row;
     bottom: 10px;
     position: absolute;
     // background-color:  greenyellow;
     align-items: center;
     height: 60px;
     width : 560px;
     margin: 0 0 0px 0;
     .bottom-icon{
          position: absolute;
          right : 0px;
          bottom : 10px;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          .fa-plus{
               font-size : 22px;
               font-weight: 600;
               color: white;
               transform: scale(1.5);
          }
     }
}

// fonts
.task-menu{
     display: flex;
     flex-direction: row;
     margin-bottom: 20px;
}
.dropdown-menu{
     margin-bottom: 0px;
}
.disabled-link{
     outline: none;
     border: none;
     border-radius: 0px;
}
.settings{
     background-color: #f5f5f5;
     position: absolute;
     left: 0;
     top : 0;
     width: 630px;
     height: 500px;
     box-sizing: border-box;
     padding: 60px 20px 20px 20px;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     button{
          position: absolute;
          top: 20px;
          right : 20px;
     }
     .list{
          display: flex;
          flex-direction: row;
          padding: 15px 10px;
          box-shadow: none;
          .list-item{
               flex-grow: 1;
          }
     }
}