<div class="centered-content">
     <div class="task-manager-container">
          <div class="sidebar">
               <div class="title">List</div>
               <div class="link">
                    <a *ngFor="let list of lists" [routerLink]="['/lists', list._id]"
                         routerLinkActive="active">{{ list.title }}</a>
               </div>
               <div class="new-list">
                    <button class="button is-primary" [routerLink]="['./create-list']">
                         Add New List
                    </button>
               </div>
          </div>
          <div class="task-list-container">
               <div class="task-menu">
                    <div class="title">Task</div>
                    <div class="dropdown is-hoverable is-right">
                         <div class="dropdown-trigger">
                              <button class="button" [class.is-hidden]="selected_listid ? false : true"
                                   aria-haspopup="true">
                                   <span><i class="fas fa-cogs"></i></span>
                              </button>
                         </div>
                         <div class="dropdown-menu" id="dropdown-menu" role="menu" *ngIf="lists">
                              <div class="dropdown-content">
                                   <button class="dropdown-item button disabled-link" [routerLink]="['./edit-list']"
                                        routerLinkActive="active" [disabled]="lists.length == 0">
                                        Edit
                                   </button>

                                   <button class="dropdown-item button has-text-danger disabled-link"
                                        (click)="deleteSingleList()" [disabled]="lists.length == 0 && selected_listid">
                                        Delete
                                   </button>
                                   <hr class="dropdown-divider" />
                                   <a class="dropdown-item" (click)="logout()">
                                        Logout
                                   </a>
                                   <hr class="dropdown-divider" />
                                   <div class="dropdown-item">
                                        <small>version: 1.0.0</small>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="task-container">
                    <ng-container *ngIf="selected_listid; else unselectedlist">
                         <div class="task" *ngFor="let task of tasks" [ngClass]="{ completed: task.complete }">
                              <div class="task-text" (click)="taskCompleteOps(task)">
                                   {{ task.title }}
                              </div>
                              <div class="task-buttons">
                                   <div class="buttons has-addons custom-buttons">
                                        <button class="button is-small edit" [routerLink]="['./edit-task', task._id]">
                                             <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="button is-small is-danger" style="z-index: 500;"
                                             (click)="deleteSingleTask(task._id)">
                                             <i class="fas fa-trash"></i>
                                        </button>
                                   </div>
                              </div>
                         </div>
                    </ng-container>
                    <ng-template #unselectedlist>
                         <div class="unseleceted-text">
                              <p class="has-text-grey">
                                   Select a list from lists or click to add new list or
                              </p>
                              <br />
                              <button class="button is-small is-danger is-rounded has-text-white" (click)="logout()">
                                   Logout
                              </button>
                         </div>
                    </ng-template>
                    <ng-container *ngIf="tasks">
                         <div class="unseleceted-text" *ngIf="tasks.length == 0 && selected_listid">
                              <p class="has-text-grey">
                                   Click <small class="fa fa-plus"></small> button to create new
                                   task
                              </p>
                         </div>
                    </ng-container>
               </div>
               <div class="task-footer" *ngIf="lists">
                    <div class="fields">
                         <label class="switch">
                              <input type="checkbox" checked>
                              <span class="slider round"></span>
                            </label>
                         <button class="button is-primary bottom-icon" routerLink="./new-task" [disabled]="lists.length == 0"
                              [class.is-hidden]="selected_listid ? false : true">
                              <i class="fas fa-plus"></i>
                         </button>
                    </div>
               </div>
               <div class="settings">
                    <button class="button is-small settings-close" >
                         <i class="fas fa-close"></i>
                    </button>
                    <div class="list is-hoverable">
                         <div class="list-item">Dark Theme : 
                              <label class="switch is-pulled-right" >
                                   <input type="checkbox" appDarkSwitch>
                                   <span class="slider round"></span>
                               </label> 
                         </div>
                    </div>
               </div>
     </div>
</div>